---
layout: default
---

{% assign allTags = "" %}
{% for recipe in site.recipes %}
{% if recipe.categories %}
{% assign thisTags = recipe.categories | join:'|' | append:'|' %}
{% assign allTags = allTags | append:thisTags %}
{% endif %}
{% endfor %}
{% assign allTags = allTags | split:'|' | sort | uniq %}

<div class="container">
  <h1>Categories</h1>
  {% include category.html categories=allTags %}

  <div class="clearfix">
  {% for category in allTags %}
  {% unless category == "" %}
  <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
    <h2><a name="{{ category | downcase }}"></a>{{ category | capitalize }}</h2>
    <ul>
      {% for recipe in site.recipes %}
      {% if recipe.categories contains category %}<li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endunless %}
  {% endfor %}
  </div>
</div>
