---
layout: default
---

{% assign allTags = "" %}
{% for recipe in site.recipes %}
{% if recipe.diets and recipe.diets != empty %}
{% assign thisTags = recipe.diets | join:'|' | append:'|' %}
{% assign allTags = allTags | append:thisTags %}
{% endif %}
{% endfor %}
{% assign allTags = allTags | split:'|' | sort | uniq %}

<div class="container">
  <article class="post-content px2">
    {% include tag-navigation.html %}
    <h1>Diets</h1>
    {% include diet.html diets=allTags %}

    <div class="clearfix">
      {% unless allTags[0] %}
      <p>No recipes are marked as being for a specific diet.</p>
      {% endunless %}

      {% for diet in allTags %}
      <div data-tagged="{{ diet }}">
        {% assign dietKey = diet | append:"Diet" %}
        <h2 class="capitalize"><a name="{{ diet | downcase }}"></a>{{ site.data.diets[dietKey].name }}
        <sup class="h5" style="cursor: help; text-transform: none;" title="{{ site.data.diets[dietKey].description }}">&#9432;</sup></h2>
        {% for recipe in site.recipes %}
        {% if recipe.diets contains diet %}
        <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ recipe.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in recipe.image %} style="background-image:url({{recipe.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h4 class="title p2 m0 absolute bold white bottom-0 left-0">{{ recipe.title }}</h4>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </article>
</div>

<script src="/js/tag-browse.js" charset="utf-8" defer></script>
