---
layout: default
---

<div class="home"> 

  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
      <p>Hey !</p>
      <p>Je suis Jiminy, cycliste et coureur, et ce site me permet de partager mes recettes.</p>
      <p>Que ce soit pour alimenter mes sessions de sport, en récupérer, ou célébrer mes progrès lors de <i lang="en">cheat days</i> aux snacks maison épiques, tu trouveras un peu de tout ici.</p>
    </div>
  </div>

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
    {% assign sorted = site.recipes | sort:"date" %}
    {% for post in sorted %}

      <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}></div>
            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
      </div>
    {% endfor %}
  </div>
  </div>

  <div class="container mt4 mb4">
    <div class="sm-col-6 mx-auto px3 sm-px4">
      <p>Si tu veux me suivre&nbsp;:</p> 
      <ul>
        <li>Strava&nbsp;: <a href="https://www.strava.com/athletes/jpanoz">Jiminy Panoz</a></li>
        <li>Twitter&nbsp;: <a href="http://twitter.com/JiminyPan">@JiminyPan</a></li>
        <li>Mastodon&nbsp;: <a href="https://piaille.fr/@JiminyPanoz">@JiminyPanoz@piaille.fr</a></li>
      </ul>
    </div>
  </div>
</div>
