---
layout: default
---

{% assign allTags = "" %}
{% for recipe in site.recipes %}
{% if recipe.tags and recipe.tags != empty %}
{% assign thisTags = recipe.tags | join:'|' | append:'|' %}
{% assign allTags = allTags | append:thisTags %}
{% endif %}
{% endfor %}
{% assign allTags = allTags | split:'|' | sort | uniq %}

<div class="container">
  <article class="post-content px2">
    {% include tag-navigation.html %}
    <h1>Tags</h1>
    {% include tag.html tags=allTags %}

    <div class="clearfix">
      {% unless allTags[0] %}
      <p>No recipes have any tags yet.</p>
      {% endunless %}

      {% for tag in allTags %}
      <div data-tagged="{{ tag }}">
        <h2><a name="{{ tag | downcase }}"></a>{{ tag }}</h2>
        {% for recipe in site.recipes %}
        {% if recipe.tags contains tag %}
        <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
            <a class="block relative bg-blue" href="{{ recipe.url | prepend: site.baseurl }}">
              <div class="image ratio bg-cover"{% for image in recipe.image %} style="background-image:url({{recipe.baseurl}}/images/{{ image }});"{% endfor %}></div>
              <h4 class="title p2 m0 absolute bold white bottom-0 left-0">{{ recipe.title }}</h4>
            </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </article>
</div>

<script src="/js/tag-browse.js" charset="utf-8" defer></script>
