{% assign current = page.url | split:'.' %}
{% assign current = current[0] %}
<nav class="mt4">
  Browse by
  <a href="/diets.html" class="button button-transparent {% if current == '/diets.html' %}is-active{% endif %}">Diet</a>
  <a href="/categories.html" class="button button-transparent {% if current == '/categories.html' %}is-active{% endif %}">Category</a>
  <a href="/cuisines.html" class="button button-transparent {% if current == '/cuisines.html' %}is-active{% endif %}">Cuisine</a>
  <a href="/tags.html" class="button button-transparent {% if current == '/tags.html' %}is-active{% endif %}">Tag</a>
</nav>
