---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/Recipe">

<article class="post-content px2">
    
  {% for image in page.image %}
    <img itemprop="photo" src="{{site.baseurl}}/images/{{ image }}" />
    {% if page.imagecredit %}
      {% for imagecredit in page.imagecredit %}
        <a href="{{ imagecredit }}" class="right">
          <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><title>camera icon</title><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}
  
  <header class="post-header">
    <h1 class="post-title center" itemprop="name">{{ page.title }}</h1>
  </header>
  
  <div class="px2 mt3 clearfix">
    
  <div class="mb3">{{page.content}}</div>

  {% if page.components %}
  
  <h4 class="blue">Components</h4>
  
  <ul>
    {% for component in page.components %}
    <li>{{ component | markdownify }}</li>
    {% endfor %}
  </ul>
  
  {% endif %}
  
  <div class="sm-col sm-col-6 lg-col-6">
  
  <h4 class="blue">Ingredients</h4>

  <ul>
    {% for ingredient in page.ingredients %}
    <li itemprop="ingredient">{{ ingredient | markdownify }}</li>
    {% endfor %}
  </ul>
  
  </div>
  
  <div class="sm-col sm-col-6 lg-col-6">
  
  <h4 class="blue">Directions</h4>
  
  <ul itemprop="instructions">
    {% for direction in page.directions %}
    <li>{{ direction | markdownify }}</li>
    {% endfor %}
  </ul>
  
  </div>
  
  {% for category in page.categories %}
    <p class="clearfix">Category: <span itemprop="recipeCategory">{{ category }}</span></p>
  {% endfor %}
    
  </div>

  </article>

</div>
